<!doctype html>
<head>
  <title>Instacart</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
</head>

<body>
<div class="container title_bar">
  <div class="row">
    <div class="pull-left title">Instacart</div>
    <div class="pull-right title_links">
      [<a href="/">Home</a>]
{% if session.application_id %}
      [<a href="/logout">Log Out</a>]
{% endif %}
    </div>
  </div>

  <div class="row messages">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
  </div>
</div>  

<div class="container page">
  <div class="row head">
    {% block head%}{% endblock %}
  </div>
  <div class="row main">
    {% block body %}{% endblock %}
  </div>
  
</div>
</body>
